@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 320px;
    width: 87%;
    padding-left: 3px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 31px 17px 31px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  outline: none;
}

.button:active {
  outline: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
}

.section {
  padding: 55px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.input {
  border: 1px solid #dddddd;
  padding: 24px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:hover {
  border: 1px solid #FFBB3A;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  color: #333333;
  font-weight: 400;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.navbar__button {
  margin-left: 28px;
  outline: none;
}

.navbar__button:hover {
  cursor: pointer;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 8px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 14px 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 26px 14px 26px;
    border-radius: 5px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .navbar__logo {
    width: 91px;
    padding: 4px 0 0 0;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
  padding-right: 101px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 38px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 66px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__item:first-child {
  margin-bottom: 27px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.hero-image {
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 25px 0 50px 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 7px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.2;
    padding-left: 3px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:first-child {
    margin-bottom: 22px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.25;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-image {
    margin-top: -10px;
  }
}

/* Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  outline: none;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-size: 16px;
  padding-top: 10px;
  cursor: pointer;
}

.offer__call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 34px;
}

.offer__call-back-manager {
  width: 230px;
}

.offer__call-back-phone {
  margin-left: 64px;
}

.offer__call-back-phone p {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding: 30px 0;
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 22px;
    width: 265px;
    margin-bottom: 18px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 28px;
  }
  .offer__input {
    font-size: 15px;
    min-height: 64px;
    margin-bottom: 4px;
  }
  .offer__button {
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 16px;
  }
  .offer__call-back {
    font-size: 15px;
    line-height: 24px;
    display: block;
  }
  .offer__call-back-manager {
    display: block;
    margin-bottom: 7px;
    padding-left: 3px;
  }
  .offer__call-back-phone {
    display: block;
    margin: 0;
    padding-left: 3px;
  }
}
/*# sourceMappingURL=style.css.map */