.hero
  padding: 50px 0
  background-color: $secondary
  &-block
    display: flex
    -ms-flex-direction: row
  &-text
    flex-basis: 52%
    padding-right: 101px
    &__title
      font-size: 41px
      line-height: 55px
      margin-bottom: 38px
      +bold
    &__subtitle
      display: inline-block
      font-size: 20px
      margin-bottom: 66px
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 23px
      &:first-child
        margin-bottom: 27px
      &:last-child
        margin-bottom: 0
    &__image
      width: 40px
      height: 40px
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 300px
      font-size: 14px
      font-weight: 400
      line-height: 24px
      +reg
  &-image
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.2) /* Параметры тени */
    width: fit-content
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 0  
@media (max-width: 768px)
  .hero
    padding: 25px 0 50px 0
    &-text
      &__title
        font-size: 24px
        line-height: 1.25
        margin-bottom: 7px
        +bold
      &__subtitle
        font-size: 16px
        margin-bottom: 25px
        line-height: 1.2
        padding-left: 3px
        +bold
    &-list
      &__item
        margin-bottom: 20px
        &:first-child
          margin-bottom: 22px
      &__text
        font-size: 12px
        line-height: 1.25
      &__image
        margin-right: 15px
    &-image
      margin-top: -10px